@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.tesitmonial-background {
    background-color: #1f2933;
}

.tesitmonial-heading {
    font-size: 18px;
    color: #cced00;
    font-family: "Roboto";
}

.members-heading {
    font-size: 30px;
    color: white;
    font-family: "Roboto";
    font-weight: 600;
}

.jenny-logo-image {
    border-radius: 50px;
    height: 80px;
    width: 80px;
}

.jenny-card {
    width: 65vw;

    background-color: #323f4b;
    text-align: center;
}

.gautham-heading {
    font-size: 20px;
    color: white;
    font-family: "Roboto";

}

.jenny-descprition {
    font-size: 18px;
    color: #9aa5b1;
    font-family: "Roboto";

}