@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

#navbar-heading-1 {
    color: #ffffff;
    font-size: 25px;
}

#navbar-heading-2 {
    color: #ffffff;
    font-size: 25px;
}

#navbar-heading-3 {
    color: #ffffff;
    font-size: 25px;
}

#navbar-heading-4 {
    color: #ffffff;
    font-size: 25px;
}

#navbar-heading-5 {
    color: #ffffff;
    font-size: 25px;
}

.navbar-heading-5 {
    color: #ffffff;
}

.navbar-logo {
    color: #ffffff;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 600;
    padding: 10px;
}

.navbar-section-container {
    height: 50px;
    width: 40px;
    border: 1px;
    border-color: #4b6cc1;
    border-style: solid;
}

.portfolio-banner-section-background {
    background-color: #191a1d;
    height: 100vh;
}

.portfolio-banner-section-logo {
    width: 280px;
    margin-bottom: 10px;
}

.portfolio-banner-section-heading {
    color: #ffffff;
    font-size: 60px;
    font-family: "Roboto";
}

.jenny-heading {
    color: #4b6cc1;
    font-size: 60px;
    font-family: "Roboto";
}

.frontend-heading {
    color: #9aa5b1;
    font-size: 40px;
    font-family: "Roboto";
}

.button-size {
    height: 70px;
    width: 190px;
    background-color: #4b6ccc;
    color: #ffffff;
    border-width: 0px;
    border-radius: 10px;
    font-size: 25px;
}