@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.vr-logo {
    height: 36px;
    width: 56px;
}

#nav-link-heading-1 {
    color: #1a2137;
    font-family: "Roboto";

}

#nav-link-heading-2 {
    color: #1a2137;
    font-family: "Roboto";

}

#nav-link-heading-3 {
    color: #1a2137;
    font-family: "Roboto";

}

#nav-link-heading-4 {
    color: #1a2137;
    font-family: "Roboto";

}

.back-ground-container-vr {
    height: 100vh;
    /*width: 100vw;*/
    background-size: cover;
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
}

.vr-container-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: bold;
}